<div class="modal-header">
  <h4 class="modal-title">
    Itinerário <app-bus-lines-type [type]="itinerary.busLine.type"></app-bus-lines-type>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">
      <i class="fa fa-times"></i>
    </span>
  </button>
</div>
<div class="modal-body">
  <p>
    <strong>Linha:</strong> {{itinerary.busLine.id}} # {{itinerary.busLine.code}} | {{itinerary.busLine.name}}
  </p>
  <ngb-accordion [closeOthers]="true" [destroyOnHide]="true">
    <ngb-panel *ngFor="let location of itinerary.locations">
      <ng-template ngbPanelTitle>
        Parada {{location.order+1}} <i class="fas fa-map-marker-alt"></i>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="spinner-border" role="status" *ngIf="iframeLoadind">
          <span class="sr-only">Loading...</span>
        </div>
        <iframe [src]="location.urlMap" (load)="iframeLoadind=false"></iframe>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
